*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Roboto Slab', serif;
   color: aliceblue;
   overflow-x: hidden;
   position: relative;
}
main{
    position: absolute;
}
.main-header{
    min-height: 10vh;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0rem auto;
    padding-top: 2rem;
    position: relative;
    z-index: 2;
}

#logo{
    color: aliceblue;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

.line-1 , .line-2, .line-3{
    width: 3rem;
    height: 0.2rem;
    background-color: aliceblue;
    margin: 0.4rem;
    pointer-events: none;
}
.line-2{
width: 2.3rem;
}
.line-3{
width: 1.3rem;
}

.sec{
    display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  min-height: 100vh;
overflow: hidden;
}


.desc{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-left: 3rem;
    flex: 1;
    position: relative;
    flex-basis: 25rem;
 background-color: black;
}


.reveal-img, .reveal-text
 {
  position: absolute;
  width: 100%;
  height: 130%;
  background:black;
  left: 0%;
  top: -10%;

}
.img-sec{
    overflow: hidden;
    flex-basis: 25rem;
    flex: 1;
    position: relative;
}

.img-sec img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    }
.desc h1{
    font-size: 4rem;
    color: white;
}

.desc p{
    font-size: 1.5rem;
    padding: 2rem 0rem;
    color: rgb(174, 169, 168);
}

.explore-button{
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(185, 186, 187);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid white;
    align-self: flex-start;
}

.color-text1{
    color: rgb(241, 204, 117);
}
.color-text2{
    color: rgb(84, 162, 241);
}
.color-text3{
    color: rgb(236, 111, 182);
}

.nav-bar{
    background-color: rgb(249, 253, 255);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 1;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    clip-path: circle(50px at 100% -10%);
    -webkit-clip-path: circle(50px at 100% -10%);
}
.list {
    padding: 3rem;
   flex-basis: 30rem;
}
.list li {
   font-size: 2rem;
   list-style: none;
 margin: 2rem;
}
.nav-text{
    flex-basis: 30rem;
    padding: 2rem 3rem;
}
.nav-text h2{
    font-size: 3rem;
    color: rgb(207, 68, 207);
   margin: 2rem;
}
.nav-text p {
    font-size: 1.2rem;
   color: rgb(37, 37, 37);
   line-height: 2rem;
}

.cursor{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
   transition: all 0.5s ease-in-out;
   transition-property:background , transform;
   transform-origin: 75% 75%;
}

.nav_active{
background-color: rgb(145, 175, 175);
transform: scale(2);
}
.btn_active{
    background-color: rgb(186, 178, 178);
    transform: scale(2);
}

.cursor-text{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% ,-50%);
 font-size: 0.5rem;
color: black;
}

.text{
    position: relative;
    overflow: hidden;
}

.swipe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
   mix-blend-mode: darken;
    transform: translateY(100%);
}

.sec1-swipe{
    background:     rgb(241, 204, 117);
}
.sec2-swipe{
    background:      rgb(84, 162, 241);
}
.sec3-swipe{
    background:     rgb(236, 111, 182);
}

.ScrollMagic-pin-spacer {
    position: static !important;
  }

  .burger{
    cursor: pointer;
  }
  .hide{
    overflow: hidden;
  }

 /* second page */

 .section{
   min-height: 90%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 .fashion-text{
    flex: 1;
  flex-basis: 25rem;
  
 }
 .fashion-text h1{
    font-size: 4rem;
 margin-bottom: 2rem;
 }
 .fashion-text p{
    font-size: 1.5rem;
 }

 .numbr span{
    font-size: 8rem;
    color: rgb(121, 122, 123);
    position: absolute;
    bottom: 10%;
    left: 50%;
 }
 .fashion-img{
    flex: 1;
    height: 80vh;
   padding-left: 3rem;
   margin: 2rem;
   overflow: hidden;
 }
 .fashion-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .fashion-1 h1{
    color: rgb(224, 177, 115);
 }
 .fashion-2 h1{
    color: rgb(75, 218, 158);
 }
 .fashion-3 h1{
    color: rgb(224, 115, 217);
 }

 .slide{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
 }
 .slide1{
    background-color: rgb(28, 200, 143);
    z-index: 5;
 }
 .slide2{
    background-color: rgb(127, 70, 250);
    z-index: 4;
 }
 .slide3{
    background-color: rgb(212, 127, 255);
    z-index: 3;
 }

 /* Media query */
 @media screen and (width <= 1500px) {
    .img-sec{
        flex-basis: 30rem;
    }
 
 }

 @media screen and (width <= 1020px) {
    .sec{
        display: block;
        width: 100%;
     height: 90%;
     align-self: center;
     margin: 1rem;
    }
    .desc h1{
        font-size: 3rem;
        margin-top: 2rem;
    }
    .img-sec img{
      height: 60%;
      margin-top: 0.5rem;
    }
    .explore-button{
        align-self: center;
    }
    .nav-bar{
   display: block;

            }
    .list{
        margin-top: 3rem;
    transform: translateX(30%);
    }  
    .nav-text p{
 font-size: 2rem;
 line-height: 2;
 }
 .section{
    display: block;
 }
.fashion-img img{
    height: 60%;
    object-position: top;
}
.fashion-img{
    padding: 0%;
}
 .fashion-text h1{
    font-size: 2rem;
    margin-bottom: 1rem;
 }
 .fashion-text p{
    font-size: 1rem;
 }


 }
 @media screen and (width <= 750px) {
    body{
        width: 100%;
        margin: auto;
    }
    .desc h1{
        font-size: 2rem;
    }


 }
 @media screen and (width<=415px) {
   
    .desc{
        padding-left: 0%;
    }
    .desc h1{
        font-size: 1.5rem;
    }
    .desc p{
        font-size: 1rem;
    }
.nav-text{
    display: none;
}
.list{
    transform: translateX(0%);
}

 }